div ul {
  display: flex;
  justify-content: start;
  padding-top: 0.5%;
  padding-left: 1%;

}

ul {
  list-style-type: none;
}

a:hover {
  color: blue;
  background-color: aliceblue;
}

a:link {
  text-decoration: none;
}

li {
  margin: 10px;
}
